snippet n
	-- ${1:Note}
snippet ts
	`strftime("%Y %B %d")` `system("echo;echo")`===============`system("echo;echo")`
snippet t
	[ ] ${1:I need to }
snippet h
	[h] ${1:On Hold}
snippet *
		 ** ${1:Name} **
