[submodule "macvim/bundle/vim-multiple-cursors"]
	path = macvim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "macvim/bundle/vim-json"]
	path = macvim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
